<div class="card-container">
    <form [formGroup]="form" class='form-card'>
        <img src="./assets/img/icon_back.png" alt="arrow" class="go-back" (click)="renderLogin()">
        <h1>Reset  password</h1>
        <img src="./assets/img/icon_line.png" class="line">
        <h4>Change your account password</h4>
        <div class="user-input">
            <input type="password" placeholder="Your Password" formControlName="password" />
            <div *ngIf="form.controls['password'].invalid && form.controls['password'].touched">
                <div class="error-massage" *ngIf="form.controls['password'].errors?.['required']">Password is
                    required.
                </div>
            </div>
            <img src="./assets/img/icon_lock.png" />
        </div>
        <div class="user-input">
            <input type="password" placeholder="Confirm Password" formControlName="password" />
            <div *ngIf="form.controls['password'].invalid && form.controls['password'].touched">
                <div class="error-massage" *ngIf="form.controls['password'].errors?.['required']">Password is
                    required.
                </div>
            </div>
            <img src="./assets/img/icon_lock.png" />
        </div>
        <button class="sign-up" (click)="resetPassword()">Confirm</button>
    </form>
</div>
