<div class="grid-view-component">
    <div class="sidebar"><app-sidebar></app-sidebar></div>
    <div class="header"><app-header-template></app-header-template></div>
    <div class="summary-container">
        <div class="summary-headline">
            <span class="fw-700 f-47 summary-headline-headline">Summary</span>
            <div class="summary-headline-line"></div>
            <span class="fw-400 f-27">Everything in a nutshell!</span>
        </div>

        <div class="summary-content">
            <div class="summary-content-left">
                <div class="row">
                    <div class="card-row-1">
                        <span class="f-64" id="amountAll">5</span>
                        <span class="f-21">Tasks in Board</span>
                    </div>
                    <div class="card-row-1">
                        <span class="f-64" id="amountProgress">2</span>
                        <span class="f-21">Tasks in Progress</span>
                    </div>
                    <div class="card-row-1">
                        <span class="f-64" id="amountFeedback">2</span>
                        <span class="f-21">Awaiting Feedback</span>
                    </div>
                </div>

                <div class="row">
                    <div class="card-row-2">
                        <div class="card-row-2-left">
                            <div>
                                <img src="./assets/img/icon_urgent.png" />
                            </div>
                            <div class="amount">
                                <span class="f-47" id="amountUrgent">1</span>
                                <span class="f-16">Urgent</span>
                            </div>
                        </div>
                        <div class="card-row-2-middle"></div>
                        <div class="card-row-2-right">
                            <span class="fw-700" id="date">Ocotber 16, 2022</span>
                            <span class="fw-400">Upcoming Deadline</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="card-row-3">
                        <div>
                            <img id="iconPen" src="./assets/img/icon_pen.svg" />
                        </div>
                        <div class="amount">
                            <span class="f-64" id="amountToDo">1</span>
                            <span class="f-21">To-Do</span>
                        </div>
                    </div>
                    <div class="card-row-3">
                        <div>
                            <img id="iconCheck" src="./assets/img/icon_check.svg" />
                        </div>
                        <div class="amount">
                            <span class="f-64" id="amountDone">1</span>
                            <span class="f-21">Done</span>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngFor="let user of users" class="summary-content-right">
                <span class="fw-500 f-47">Good morning,</span>
                <h1 class="fw-700 f-64">{{ user.name }}</h1>
            </div>
        </div>
    </div>
</div>