.header-logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 15%);
    background: white;
    z-index: 10;
 
    .header-image-container {
        display: flex;
        flex-direction: row;
        column-gap: 20px;
    }

    .info {
        width: 35px;
        object-fit: contain;
    }

    .user {
        width: 60px;
    }
}
