<div class="card-container">
    <form [formGroup]="form" class='form-card'>
        <img src="./assets/img/icon_back.png" alt="arrow" class="go-back" (click)="renderLogin()">
        <h1>I forgot my password</h1>
        <img src="./assets/img/icon_line.png" class="line">
        <h4>In order to reset your password enter account E-Mail below in order to receive instructions on how to
            change your password.</h4>
        <div class="user-input">
            <input type="email" placeholder="Email" formControlName="email">
            <img src="./assets/img/icon_mail.png" />
            <div *ngIf="form.controls['email'].invalid && form.controls['email'].touched">
                <div class="error-massage" *ngIf="form.controls['email'].errors?.['required']">Email is required.</div>
            </div>
        </div>
        <button class="sign-up" (click)="findUserMail()">Send Email</button>
    </form>
</div>