<div class="card-container">
    <form class="form-card" id="forgot-password-form">
        <img src="./assets/img/icon_back.png" alt="arrow" class="go-back" (click)="renderLogin()">
        <h1>Reset password</h1>
        <img src="./assets/img/icon_line.png" class="line">
        <h4>In order to reset your password enter account E-Mail below in order to receive instructions on how to
            change your password.</h4>
        <div class="user-input">
            <input id="password-reset-mail" type="email" placeholder="Email" required=""
                oninvalid="event.preventDefault(); generateTooltip(event)">
            <img src="./assets/img/icon_mail.png">
            <p id="noUser"></p>
        </div>
        <button class="sign-up">Send Email</button>
    </form>
</div>